<%- include("partials/header.ejs") %>


    <h1 class="compose-post-h1">Share your knowledge, tell your story,
         or drop a quick coding gem — ThoughtHub is listening.</h1>

<section class="compose-post">

    <form action="/compose" method="post">
        <input type="text" class="input-field" name="postTitle" placeholder="Enter the Post Title..." required>
        <input type="text" class="input-field" name="authorName" placeholder="Enter Your name..." required>
        <textarea name="postContent" id="postContent" placeholder="Write your thoughts!!!" rows="6" required></textarea>
        <button type="submit" class=".btn">Submit</button>
    </form>
</section>

<footer><%- include("partials/footer.ejs") %></footer>